/* body{
    text-align: center;
} */

#color div{

    display: inline-block;

}


#red{
    border:solid;
    width:30px;
    height:30px;
    border-radius: 50%;
    background-color: rgb(233, 6, 6);

    
}

#green{
    border:solid;
    width:30px;
    height:30px;
    border-radius: 50%;
    background-color: rgb(6, 233, 82);
}

#blue{
    border:solid;
    width:30px;
    height:30px;
    border-radius: 50%;
    background-color: rgb(6, 21, 233);
}

#purple{
    border:solid;
    width:30px;
    height:30px;
    border-radius: 50%;
    background-color: rgb(180, 6, 233);
}

#white{
    border:solid;
    width:30px;
    height:30px;
    border-radius: 50%;
    background-color: rgb(243, 247, 243);
}

#yellow{
    border:solid;
    width:30px;
    height:30px;
    border-radius: 50%;
    background-color: rgb(245, 209, 6);
}

.box{
    width: 36px;
    height: 250px;
    border: solid 3px #000;
    margin-right: 30px;
}

.block{
    float: left;
}

.circle{
    text-align: center;
    display: flex;
    flex-flow: column;
}

#hidden {
   opacity: 0;
}


